<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      placeholder="Nome"
      [ngModel]="usuario.nome"
      required
    />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="nome@email.com"
      [ngModel]="usuario.email"
      required
      email
    />
    <!-- Angular 2 não possui "email" validator, já Angular 4+ possui
      Abaixo como seria a validação de email no Angular 2 usando "pattern":
      pattern="[a-z0-9!#$%&'*+/=?^_‘{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_‘{|}~-]+)*@
      (?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" -->
  </div>

  <button type="submit" class="btn btn-primary">Submeter</button>
</form>
