<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      placeholder="Nome"
      [ngModel]="usuario.nome"
    />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="nome@email.com"
      [ngModel]="usuario.email"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submeter</button>
</form>
