<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <div class="form-group" [class.was-validated]="!nome.valid && nome.touched">
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Nome"
        [ngModel]="usuario.nome"
        required
        #nome="ngModel"
      />
      <div class="invalid-feedback">Nome é obrigatório</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <div
      class="form-group"
      [class.was-validated]="!email.valid && email.touched"
    >
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="nome@email.com"
        [ngModel]="usuario.email"
        required
        email
        #email="ngModel"
      />
      <div class="invalid-feedback">E-mail inválido</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
    Submeter
  </button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
