<app-header
  (sidenavToggle)="drawer.toggle()"
  [idCursoChangeEvent]="idCursoChangeEvent"
></app-header>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-nav-list [idCursoChangeEvent]="idCursoChangeEvent"></app-nav-list>
  </mat-drawer>

  <mat-card class="content">
    <mat-card-content>
      <!-- <form>
        <mat-form-field [style.width.%]="100">
          <mat-label>Entre com o ID do curso</mat-label>
          <input
            type="text"
            matInput
            #idCurso
            (change)="onIdCursoChange($event)"
          />
        </mat-form-field>
      </form> -->

      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>
