<h2>Login</h2>

<form>
  <mat-form-field appearance="fill" [style.width.%]="100">
    <mat-label>Usuário</mat-label>
    <input
      matInput
      id="usuario"
      name="nome"
      type="text"
      [(ngModel)]="usuario.nome"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" [style.width.%]="100">
    <mat-label>Senha</mat-label>
    <input
      matInput
      id="senha"
      name="senha"
      type="password"
      [(ngModel)]="usuario.senha"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="fazerLogin()"
  >
    <mat-icon fontIcon="login"></mat-icon>
    Logar
  </button>
</form>
