<section class="px-4 py-2 bg-dark text-white">
  <h3 class="fw-bold fs-5">Diretivas customizadas</h3>

  <h4 class="fw-semibold">ElementRef e Renderer2</h4>

  <p class="text-black" appFundoAmarelo>Texto com fundo amarelo</p>

  <!-- Não deve funcionar pois a diretiva está somente para a tag HTML p -->
  <button class="btn text-black" appFundoAmarelo>
    Botão com fundo amarelo
  </button>

  <h4 class="fw-semibold">HostListener e HostBinding</h4>

  <p appHighlightMouse>Texto com highlight quando passo o mouse</p>
</section>
