<section class="px-4 py-2 bg-dark text-white">
  <h3 class="fw-bold fs-5">*ngIf</h3>

  <div *ngIf="cursos.length > 0">Lista de cursos aqui.</div>

  <div *ngIf="cursos.length === 0">Não existem cursos para serem listados.</div>

  <br />

  <div *ngIf="mostrarCursos">Lista de cursos aqui.</div>

  <div *ngIf="!mostrarCursos">Não existem cursos para serem listados.</div>

  <br />

  <button (click)="onMostrarCursos()" class="btn btn-primary">
    Mostrar ou esconder cursos
  </button>

  <h4 class="fw-semibold mt-4">hidden como alternativa</h4>

  <div [hidden]="!mostrarCursos">Lista de cursos aqui.</div>

  <div [hidden]="mostrarCursos">Não existem cursos para serem listados.</div>
</section>

<section class="px-4 py-2 bg-dark text-white">
  <h3 class="fw-bold fs-5">Por que? o * nas diretivas</h3>

  <h4 class="fw-semibold mt-2">substituindo * pelo ng-template</h4>

  <ng-template [ngIf]="mostrarCursos">
    <div>Lista de cursos aqui.</div>
  </ng-template>

  <!-- <div template="mostrarCursos">Lista de cursos aqui.</div> // não funciona mais -->
</section>
