<section class="px-4 py-2 bg-dark text-white">
  <h3 class="fw-bold fs-5">[ngClass]</h3>

  <h4 class="fw-semibold">Property binding</h4>

  <h1>
    <i
      class="bi"
      [class.bi-star]="!meuFavorito"
      [class.bi-star-fill]="meuFavorito"
      (click)="onClick()"
    ></i>
  </h1>

  <h4 class="fw-semibold">Diretiva</h4>

  <h1>
    <i
      class="bi"
      [ngClass]="{
        'bi-star': !meuFavorito,
        'bi-star-fill': meuFavorito
      }"
      (click)="onClick()"
    ></i>
  </h1>
</section>
