<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nome"
          placeholder="Nome Sobrenome"
          [ngClass]="aplicaCssErro('nome')"
        />
        <div class="invalid-feedback">Nome é obrigatório</div>
      </div>
    </div>

    <div class="col-sm-12">
      <label for="email" class="form-label">E-mail</label>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="usuario@email.com"
          [ngClass]="aplicaCssErro('email')"
        />
        <div class="invalid-feedback" *ngIf="verificaEmailRequerido()">
          E-mail é obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="verificaEmailInvalido()">
          E-mail inválido
        </div>
      </div>
    </div>
  </div>

  <div class="row g-3 mt-0" formGroupName="endereco">
    <div class="col-md-3">
      <label for="cep" class="form-label">CEP</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="cep"
          formControlName="cep"
          placeholder="12345678"
          [ngClass]="aplicaCssErro('endereco.cep')"
          (blur)="consultaCep()"
        />
        <div class="invalid-feedback">CEP é obrigatório</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="numero" class="form-label">Número</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="numero"
          formControlName="numero"
          [ngClass]="aplicaCssErro('endereco.numero')"
        />
        <div class="invalid-feedback">Número é obrigatório</div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="complemento" class="form-label">Complemento</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="complemento"
          formControlName="complemento"
        />
      </div>
    </div>

    <div class="col-sm-12">
      <label for="logradouro" class="form-label">Logradouro</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="logradouro"
          formControlName="logradouro"
          placeholder="Nome da rua ou avenida ou etc."
          [ngClass]="aplicaCssErro('endereco.logradouro')"
        />
        <div class="invalid-feedback">Logradouro é obrigatório</div>
      </div>
    </div>

    <div class="col-md-5">
      <label for="bairro" class="form-label">Bairro</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="bairro"
          formControlName="bairro"
          [ngClass]="aplicaCssErro('endereco.bairro')"
        />
        <div class="invalid-feedback">Bairro é obrigatório</div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="cidade" class="form-label">Cidade</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="cidade"
          formControlName="cidade"
          [ngClass]="aplicaCssErro('endereco.cidade')"
        />
        <div class="invalid-feedback">Cidade é obrigatório</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="estado" class="form-label">Estado</label>
      <div class="form-group">
        <select
          type="text"
          class="form-select"
          id="estado"
          formControlName="estado"
          [ngClass]="aplicaCssErro('endereco.estado')"
        >
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">
            {{ estado.nome }}
          </option>
        </select>
        <div class="invalid-feedback">Estado é obrigatório</div>
      </div>
    </div>
  </div>

  <div class="row g-3 mt-0">
    <div class="col-md-3">
      <label for="cargo" class="form-label">Cargo</label>
      <div class="form-group">
        <select
          class="form-select"
          id="cargo"
          formControlName="cargo"
          [compareWith]="compararCargos"
        >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">
            {{ cargo.desc }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <label for="tecnologias" class="form-label">Tecnologias</label>
      <div class="form-group">
        <select
          multiple
          class="form-select"
          id="tecnologias"
          formControlName="tecnologias"
        >
          <option
            *ngFor="let tecnologia of tecnologias"
            [value]="tecnologia.nome"
          >
            {{ tecnologia.desc }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <label for="newsletter" class="form-label">Newsletter</label>
      <div class="form-group">
        <div
          class="form-check form-check-inline"
          *ngFor="let item of newsletterOp"
        >
          <input
            class="form-check-input"
            type="radio"
            formControlName="newsletter"
            [value]="item.valor"
          />
          <label class="form-check-label" for="newsletter">{{
            item.desc
          }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 mt-4">
    <button type="submit" class="btn btn-primary">Submeter</button>

    <button type="button" class="btn btn-secondary ms-2" (click)="reset()">
      Cancelar
    </button>

    <button type="button" class="btn btn-info ms-2" (click)="setCargo()">
      Setar Cargo
    </button>

    <button type="button" class="btn btn-info ms-2" (click)="setTecnologias()">
      Setar Tecnologias
    </button>
  </div>

  <app-form-debug [form]="form"></app-form-debug>
</form>
