<mat-nav-list [class]="isHorizontal ? 'list-horizontal' : ''">
  <a
    mat-list-item
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="login" routerLinkActive="active">
    <span>Login</span>
  </a>
  <a
    mat-list-item
    routerLink="cursos"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>Cursos</span>
  </a>
  <a
    mat-list-item
    [routerLink]="['cursos', idCurso]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>Curso com ID</span>
  </a>
</mat-nav-list>
