.list-horizontal {
  display: flex;
  flex-direction: row;
  margin-left: 24px;

  a span {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active {
  background-color: palevioletred;
}
