<div class="card bg-dark text-white mt-4 py-3">
  <div class="card-header">
    <h3>Cadastro de cursos</h3>
  </div>

  <form
    class="row g-3 needs-validation px-3 mt-1"
    novalidate
    [formGroup]="form"
  >
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome do curso</label>

      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do curso"
        formControlName="nome"
        [ngClass]="applyCssError('nome')"
      />

      <app-field-error-msg
        [control]="getField('nome')"
        label="Nome do curso"
      ></app-field-error-msg>
    </div>

    <div class="mt-3 d-flex gap-3">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
        Salvar
      </button>

      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
